header {
  padding: var(--small-general-padding);
  background-color: var(--dark-color);
  text-align: center;
  @include media('min-desktop') {
    padding: var(--small-general-padding) var(--big-general-padding);
    text-align: left;
  }

  h1 {
    margin: 0;
  }
}
