.nav {
  background-color: white;
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  align-content: center;
  flex-wrap: nowrap;
  list-style: none;
  padding: var(--small-general-padding);
  margin: 0;
  @include media('min-desktop') {
    display: none;
  }
  &__item {
    flex: 1 1 0px;
    text-align: center;

    &--active {
      svg * {
        stroke: var(--active-color);
      }
    }
  }
}
