.random-gif-container {
  h2 {
    margin-top: 0rem;
    margin-bottom: 0.938rem;
  }

  &__picture-container {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-bottom: 0.938rem;
    @extend %pictureContainer;
  }
}
