.search-gif-container {
  @include media('min-desktop') {
    border-left: 0.063rem solid var(--light-primary);
    border-right: 0.063rem solid var(--light-primary);
  }
  h2 {
    margin-top: 0;
    margin-bottom: 0.938rem;
  }

  &__form {
    margin-bottom: 0.938rem;
  }

  &__label-input {
    font-size: 0.875rem;
  }

  &__search-input {
    width: 100%;
    padding: 0.75rem;
    font-size: 1rem;
    margin-bottom: 0.938rem;
  }

  &__results {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.938rem;
    @include media('min-desktop') {
      grid-template-columns: repeat(4, 1fr);
    }

    &.error {
      display: block;
    }
  }

  &__picture-container {
    @extend %pictureContainer;
  }
}
