.search-section {
  @include media('min-desktop') {
    border-left: 1px solid white;
    border-right: 1px solid white;
  }
  h2 {
    margin-top: 0;
    margin-bottom: 1.5rem;
  }

  &--form {
    margin-bottom: 1.5rem;
    label {
      font-size: 1.4rem;
    }
    input[type='text'] {
      width: 100%;
      padding: 1.2rem;
      font-size: 1.6rem;
      margin-bottom: 1.5rem;
    }
  }

  &--results {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.5rem;
    @include media('min-desktop') {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  &--picture-container {
    width: 100%;
    min-height: 20rem;
    background-color: #d9d9d9;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: #d9d9d9;
      background-image: linear-gradient(
        to right,
        #d9d9d9 0%,
        #888b94 20%,
        #d9d9d9 40%,
        #d9d9d9 100%
      );
      z-index: 1;
      background-repeat: no-repeat;
      animation: shimmer 2s linear infinite;
    }
    &.loaded {
      @extend %loaded;
    }
    &.error {
      @extend %error;
    }
  }

  picture * {
    width: 100%;
  }
}
