%pictureContainer {
  width: 100%;
  min-height: 20rem;
  background-color: #2e2e2e;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #2e2e2e;
    background-image: linear-gradient(
      to right,
      #2e2e2e 0%,
      #888b94 20%,
      #2e2e2e 40%,
      #2e2e2e 100%
    );
    z-index: 1;
    background-repeat: no-repeat;
    animation: shimmer 2s linear infinite;
  }
  &.loaded {
    min-height: auto;
    background-color: transparent;
    &::before {
      animation-play-state: paused;
      display: none;
    }
  }
  &.error {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
    &::before {
      animation-play-state: paused;
      display: none;
    }
  }
}

.btn {
  width: 100%;
  text-align: center;
  padding: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  font-size: 1.6rem;
  cursor: pointer;
  color: var(--color-primary);
  svg {
    margin-right: 0.5rem;
  }
}

p.error {
  font-size: 1.4rem;
  color: red;
  text-align: center;
}
