.list--reset {
  list-style: none;
  padding: 0;
}

%loaded {
  min-height: auto;
  background-color: transparent;
  &::before {
    animation-play-state: paused;
    display: none;
  }
}

%error {
  > p {
    color: red;
  }
  &::before {
    animation-play-state: paused;
    display: none;
  }
}

.btn {
  width: 100%;
  text-align: center;
  padding: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  font-size: 1.6rem;
  cursor: pointer;
  color: var(--color-primary);
  svg {
    margin-right: 0.5rem;
  }
}
