%heading {
  font-weight: 400;
}

.heading-1 {
  font-size: 700;
  font-size: 2.125rem;
}

.heading-2 {
  @extend %heading;
  font-size: 1.875rem;
}

.heading-3 {
  @extend %heading;
  font-size: 1.625rem;
}

.heading-4 {
  @extend %heading;
  font-size: 1.188rem;
}
