:root {
  --color-primary: #074ee8;

  --dark-primary: #121212;
  --dark-secondary: #2e2e2e;
  --light-primary: #fff;
  --active-color: #ef5da8;

  --small-general-padding: 1.5rem;
  --big-general-padding: 5.5rem;
}

$mobileMax: 767px;
$tabletMin: 768px;
$tabletMax: 1023px;
$desktopMin: 1024px;
